<% content_for :title do %><%= @from %> &mdash; <%= @to %><% end %>
<h2>
  Spojení: <%= @from %> &mdash; <%= @to %><% if(!@via.empty?) %> přes <%= @via %></p><% end %>
</h2>
<% @trips.each do |trip| %>	
  <p>
    <strong><%= trip.first %></strong>
  </p>
  <ul>
<% trip.second.each do |direction| %>
  <li><%= raw direction %></li>
    <% end %>
  </ul>
<% end %>
<hr/>
<div class="bottom-action">
  <%= link_to 'nové hledání', root_path %>
</div>