<!DOCTYPE html>
<html>
<head>
	<title><% if yield(:title).length > 0 %><%= yield :title %> | <% end %>Mobilní DPP.cz</title>
	<meta name="viewport" content="width=320" />
	<%= stylesheet_link_tag :all %>
	<%= csrf_meta_tag %>  
	<script type="text/javascript">
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-21299973-1']);
	  _gaq.push(['_trackPageview']);
	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	</script>
</head>
<body>
<div class="header">
	<h1><%= link_to 'Mobilní DPP.cz', root_path %></h1>
</div>
<div class="content">
	<%= yield %>
</div>
<br clear="left"/>
<div class="footer">
	<%= link_to 'Jízdní řády', 'http://m.idos.cz/', {:target => '_new'}%> | <%= link_to 'About & author', about_path %> | <%= link_to 'API', api_info_path %><br/>
	All rights reserved by Dopravní podnik hl. m. Prahy.</div>
</body>
</html>
